@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(22, 1, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  margin: 50px;
  background: #fff;
  display: grid;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_side {
  position: relative;
  background: #001603;
  padding: 40px;
}

/* .profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 17px;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
} */

.profileText .imgb {
  position: relative;
  width: 290px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.profileText .imgb img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140%;
  object-fit: cover;
}
/* 
.profileText h2 {
  color: #fff;
  font-size: 1.2em;
  margin-top: 20px;
  margin-inline: 1px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}

.profileText h2 span {
  font-size: 0.8em;
  font-weight: 300;
} */
.contact_info {
  padding-top: 40px;
}

.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.contact_info .text {
  font-size: 18px;
}
.contact_info ul {
  position: relative;
}
.contact_info ul li {
  position: relative;
  list-style: none;
  margin: 5px 0;
  cursor: pointer;
}

.contact_info ul li .icon {
  display: inline-block;
  margin-left: 10cap;
  width: 20px;
  font-size: 18px;
  color: rgb(24, 255, 3);
}

.contact_info ul li span {
  color: #fff;
  font-weight: 300;
}

.contact_info.education li {
  margin-bottom: 15px;
}

.contact_info.education h5 {
  color: rgb(53, 255, 3);
  font-weight: 500;
}

.contact_info.education h4:nth-child(2) {
  color: #fff;
  font-weight: 500;
}

.contact_info.education h4 {
  color: #fff;
  font-weight: 300;
}

.contact_info.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: #000000;
  display: block;
  margin-top: 5px;
}

.contact_info.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #1eff00;
}
.title3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: 70px;
  font-size: 1.3em;
}
.site ul {
  display: table-row;
}
.site ul li {
  list-style: none;
  color: #ffffff;
  font-weight: 500;
  margin: 10px 0;
}
.site ul li .fa {
  color: #1eff00;
  font-size: 18px;
  width: 20px;
}
.site .social {
  font-size: 0.9em;
  margin-left: auto;
}
.container .right_side {
  position: relative;
  background: #ffffff;
  padding: 40px;
}
.profile_txt {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #002506;
  align-items: start;
  padding-bottom: 20px;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
}
.profile_txt h2 {
  color: #073f00;
  font-size: 2.7em;
  margin-top: 20px;
  margin-inline: 1px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}

.profile_txt h2 span {
  font-size: 0.8em;
  font-weight: 300;
}
.about {
  margin-bottom: 50px;
}

.about:last-child {
  margin-bottom: 0;
}

.title2 {
  color: #003006;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: unset;
}

p {
  color: #333;
}

.about .box {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}

.about .box .year_company {
  min-width: 150px;
}

.about .box .year_company h5 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}

.about .box .text h4 {
  text-transform: uppercase;
  color: #003006;
  font-size: 16px;
}
.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}
.skills .box h4 {
  text-transform: uppercase;
  color: #848c99;
  font-weight: 500;
}

.skills .box .percent {
  position: relative;
  width: 70%;
  border-left-width: 20px;
  height: 10px;
  background: rgb(158, 149, 149);
}
.skills .box .percent div {
  position: absolute;
  top: 0%;
  left: 0;
  height: 10px;
  background: #003006;
}
.interest ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.interest ul li {
  list-style: none;
  color: #282e28;
  font-weight: 500;
  margin: 10px 0;
}
.interest ul li .fa {
  color: #003006;
  font-size: 18px;
  width: 20px;
}

/* @media (max-width: 1000px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .interest ul {
    grid-template-columns: 2, 1fr;
  }
}
@media (max-width: 600) {
  .about .box {
    flex-direction: column;
  }
  .about .box .year_company {
    margin-bottom: 5px;
  }
  .interest ul {
    grid-template-columns: 1, 1fr;
  }
  .skills .box {
  }
} */
