@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  margin: 50px;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_side {
  position: relative;
  background: #02193a;
  padding: 40px;
}

.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: medium;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgb {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.profileText .imgb img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  object-fit: cover;
}

.profileText h2 {
  color: #fff;
  font-size: 1.3em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}

.profileText h2 span {
  font-size: 0.8em;
  font-weight: 300;
}
.contact_info {
  padding-top: 40px;
}

.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.contact_info ul {
  position: relative;
}
.contact_info ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
}

.contact_info ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: rgb(3, 205, 255);
}

.contact_info ul li span {
  color: #fff;
  font-weight: 300;
}

.contact_info.education li {
  margin-bottom: 15px;
}

.contact_info.education h5 {
  color: rgb(3, 205, 255);
  font-weight: 500;
}

.contact_info.education h4:nth-child(2) {
  color: #fff;
  font-weight: 500;
}

.contact_info.education h4 {
  color: #fff;
  font-weight: 300;
}

.contact_info.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: #000000;
  display: block;
  margin-top: 5px;
}

.contact_info.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
}

.container .right_side {
  position: relative;
  background: #ffffff;
  padding: 40px;
}

.about {
  margin-bottom: 50px;
}

.about:last-child {
  margin-bottom: 0;
}

.title2 {
  color: #02193a;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

p {
  color: #333;
}

.about .box {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}

.about .box .year_company {
  min-width: 150px;
}

.about .box .year_company h5 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}

.about .box .text h4 {
  text-transform: uppercase;
  color: #02193a;
  font-size: 16px;
}
